.product-item {
  padding-top: 24px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-head,
.product-content {
  padding-top: 80px;
  padding-right: 250px;
  padding-bottom: 80px;
  padding-left: 250px;
  background: #FFFFFF;
  border-radius: 8px;
}

.product-head .pic-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
  border-bottom: 2px solid rgba(77, 77, 77, 0.25);
  margin-bottom: 64px;
}

.product-head .picture {
  display: block;
}

.product-head h1 {
  padding: 0;
  margin-bottom: 24px;
}