.product-item {
  padding-top: 24px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-head,
.product-content {
  padding-top: 80px;
  padding-right: 250px;
  padding-bottom: 80px;
  padding-left: 250px;
  background: #FFFFFF;
  border-radius: 8px;
}

.product-head .pic-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
  border-bottom: 2px solid rgba(77, 77, 77, 0.25);
  margin-bottom: 64px;
}

.product-head .picture {
  display: block;
}

.product-head h1 {
  padding: 0;
  margin-bottom: 24px;
}


/* => adaptive */


/* desktop */

@media screen and (max-width: 1439px) {
  .product-head,
  .product-content {
    padding-right: 120px;
    padding-left: 120px;
  }
}

@media screen and (max-width: 1199px) {}


/* tablet */

@media screen and (max-width: 991px) {
  .product-head,
  .product-content {
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 32px;
    padding-left: 40px;
  }
  h1,
  h2 {
    padding: 0;
  }
  .product-head .pic-wrapper {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {}


/* mobile */

@media screen and (max-width: 575px) {
  .product-head,
  .product-content {
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 389px) {
  .product-head,
  .product-content {
    padding-right: 16px;
    padding-bottom: 16px;
    overflow: hidden;
  }
}


/* adaptive <= */