.breadcrumbs {
  font-size: 11px;
  color: #858585;

  display: flex;
  align-items: center;
  gap: 0px 8px;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
  gap: 0px 8px;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  display: block;
  min-width: 4px;
  min-height: 4px;

  background: #858585;
  border-radius: 50%;
}

.breadcrumbs a:hover {
  color: #d71920;
}

.about-grid {
  display: grid;
  grid-template-columns: 680px auto;
  grid-template-rows: 300px 300px 235px 235px;
  grid-gap: 20px 20px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.how-began {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: span 4;
  padding-right: 160px;
  padding-left: 160px;

  background: #ffffff;
  border-radius: 8px;
}

.how-began h2,
.mission h2,
.vision h2 {
  padding-top: 0;
}

.how-began-text {
  position: relative;
  white-space: pre-wrap;
}

.mission,
.vision {
  position: relative;
  z-index: 0;

  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 200px;
  padding-left: 64px;

  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #d71920, #d71920), linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #f5f5f5, #f5f5f5), #ffffff;
  box-shadow: 0px 4px 16px rgb(230 36 43 / 50%);
  border-radius: 8px;
  overflow: hidden;
}

.mission:hover,
.vision:hover {
  color: inherit;

  background: #fff;
  box-shadow: none;
}

.mission::before,
.vision::before,
.mission::after,
.vision::after {
  content: "";
  position: absolute;
  z-index: -1;

  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
}

.mission::before,
.vision::before {
  background-image: url("../img/mission-vision.svg");
}

.mission::after,
.vision::after {
  right: 0;
  bottom: 0;

  background-position: right bottom;
  background-size: contain;
}

.mission::after {
  background-image: url("../img/mission.png");
}

.vision::after {
  background-image: url("../img/vision.png");
}

.mission:hover::after {
  background-image: url("../img/mission-hover.png");
}

.vision:hover::after {
  background-image: url("../img/vision-hover.png");
}

.values {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.values h2 {
  grid-column: span 2;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 48px;
}

.values-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex-grow: 1;
  grid-gap: 20px 20px;
}

.values-list li {
  position: relative;
  z-index: 0;

  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 112px;
  padding-left: 40px;

  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #d71920, #d71920), linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #f5f5f5, #f5f5f5), linear-gradient(0deg, #ffffff, #ffffff), #ffffff;
  box-shadow: 0px 4px 16px rgb(230 36 43 / 50%);
  border-radius: 8px;
}

.values-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  height: 100%;
  width: 100%;

  background-position: right bottom;
  background-repeat: no-repeat;
}

.values-list li:hover {
  color: inherit;
  font-weight: 600;

  background: #fff;
  box-shadow: none;
}

.values-list li:first-child::before {
  background-image: url("../img/knowledge.png");
}

.values-list li:nth-child(2)::before {
  background-image: url("../img/client-orient.png");
}

.values-list li:nth-child(3)::before {
  background-image: url("../img/transparency.png");
}

.values-list li:last-child::before {
  background-image: url("../img/integration.png");
}

.values-list li:hover:first-child::before {
  background-image: url("../img/knowledge-hover.png");
}

.values-list li:hover:nth-child(2)::before {
  background-image: url("../img/client-orient-hover.png");
}

.values-list li:hover:nth-child(3)::before {
  background-image: url("../img/transparency-hover.png");
}

.values-list li:hover:last-child::before {
  background-image: url("../img/integration-hover.png");
}

.success-steps,
.team,
.certificates {
  padding-top: 24px;
  padding-bottom: 24px;
  overflow-x: clip;
}

.certificates {
  padding-bottom: 32px;
}

.success-container,
.team-container,
.certificates-container {
  position: relative;
  z-index: 0;

  padding-right: 160px;
  padding-bottom: 80px;
  padding-left: 160px;

  background-color: #ffffff;
  border-radius: 8px;
}

.success-container {
  padding-right: 688px;
}

.success-container::before {
  content: "";
  position: absolute;
  left: 688px;
  bottom: 160px;
  z-index: -1;

  width: 663px;
  height: 385px;

  background-repeat: no-repeat;
  background-image: url("../img/success-before.svg");
  pointer-events: none;
}

.success-subtitle,
.team-subtitle,
.certificates-subtitle {
  max-width: 440px;
  margin-bottom: 48px;
}

.success-subtitle {
  max-width: 332px;
}

.success-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px 0px;
}

.success-list li {
  display: flex;
  gap: 0px 16px;
  align-items: center;
  white-space: pre-wrap;
}

.success-list li i {
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  min-width: 56px;
  height: 56px;
  min-height: 56px;

  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #d71920, #d71920), linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #f5f5f5, #f5f5f5), #c4c4c4;
  border-radius: 50%;
}

.success-projects-link {
  max-width: 424px;
  margin-top: 48px;
}

.success-hand,
.success-hand-red {
  position: absolute;
  left: 624px;
  bottom: 48px;
  opacity: 1;

  filter: drop-shadow(0px 96px 56px rgba(29, 29, 29, 0.3));
  transform: scaleX(-1) rotate(0deg);
  pointer-events: none;
  transition: 0.3s;
}

.success-hand {
  filter: none;
}

.success-container:hover .success-hand {
  opacity: 0;
}

.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px 20px;
}

.team-members li {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-right: 24px;
  padding-bottom: 48px;
  padding-left: 24px;

  text-align: center;
  background: #f5f5f5;
  border-radius: 8px;
  align-items: center;
  overflow: hidden;
}

.team-members li:hover {
  color: #fff;
  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #d71920, #d71920), linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #f5f5f5, #f5f5f5), linear-gradient(0deg, #f5f5f5, #f5f5f5), #f5f5f5;
  box-shadow: 0px 4px 16px rgba(230, 36, 43, 0.5);
}

.team-members li::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

  height: 100%;
  width: 100%;

  background-image: url("../img/member.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.team-members img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-members h3 {
  font-size: 24px;
  font-weight: 600;

  margin-top: 32px;
  margin-bottom: 16px;
}

.certificates-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px 20px;
}

.certificates-link {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;

  border-radius: 8px;
  overflow: hidden;
}

.certificates-link::after {
  content: "Увеличить";
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.75);
  background-image: url("../img/zoom.svg");
  background-repeat: no-repeat;
  background-position: center calc(50% - 10px);
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.certificates-link:hover::after {
  opacity: 1;
}

.certificates-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.simple-lightbox .sl-image {
  pointer-events: none !important;
}

.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-navigation button.sl-next,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-close {
  color: #fff !important;
}

.sl-overlay {
  background: #000;
  opacity: 0.8;
}

body.hidden-scroll {
  padding-right: 8px !important;
}

/*! => adaptive */
@media screen and (max-width: 1439px) {

  /** desktop */
  .about-grid {
    grid-template-columns: 480px auto;
    grid-template-rows: 300px 300px 216px 216px;
  }

  .how-began {
    padding-right: 48px;
    padding-left: 48px;
  }

  .mission,
  .vision {
    padding-left: 48px;
  }

  .values-list li {
    padding-right: 112px;
    padding-left: 24px;
  }

  .success-container,
  .team-container,
  .certificates-container {
    padding-right: 48px;
    padding-left: 48px;
  }

  .success-container {
    padding-right: 560px;
  }

  .success-container::before {
    left: 560px;
  }

  .success-hand,
  .success-hand-red {
    left: 524px;
  }
}

@media screen and (max-width: 1199px) {

  /** desktop */
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .how-began {
    grid-row: 3/4;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .mission,
  .vision {
    min-height: 216px;
    padding-left: 144px;
    padding-right: 280px;
  }

  .values-list li {
    padding-right: 168px;
    padding-left: 80px;
    height: 144px;
  }

  .values-list li::before {
    background-size: contain;
  }

  .success-container {
    padding-right: 352px;
  }

  .success-hand,
  .success-hand-red {
    left: 490px;
    max-width: none;
  }

  .team-members {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {

  /** tablet */
  .breadcrumbs {
    display: none;
  }

  .about-grid {
    grid-gap: 16px 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .how-began {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
  }

  .mission,
  .vision {
    padding-right: 144px;
    padding-left: 128px;
  }

  .values-list li {
    padding-right: 128px;
    padding-left: 48px;
  }

  .values h2 {
    padding-left: 0;
  }

  .values-list {
    grid-gap: 16px 16px;
  }

  .success-steps,
  .team,
  .certificates {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .success-container,
  .team-container,
  .certificates-container {
    padding-right: 144px;
    padding-bottom: 32px;
    padding-left: 144px;
  }

  .success-steps h2,
  .team h2,
  .certificates h2 {
    padding-bottom: 8px;
  }

  .success-subtitle,
  .team-subtitle,
  .certificates-subtitle {
    margin-bottom: 16px;
  }

  .success-container::before {
    display: none;
  }

  .success-container img {
    display: none;
  }

  .success-list li i {
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;
  }

  .success-projects-link {
    margin-top: 32px;
  }

  .team-members {
    grid-template-columns: 1fr;
    grid-gap: 16px 16px;
  }

  .certificates {
    padding-bottom: 24px;
  }

  .certificates-container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .certificates-list {
    grid-gap: 16px 16px;
  }
}

@media screen and (max-width: 767px) {

  /** tablet */
  .mission,
  .vision {
    padding-left: 48px;
  }

  .values-list li {
    padding-right: 96px;
    padding-left: 16px;
  }

  .success-container,
  .team-container {
    padding-right: 80px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 575px) {

  /** mobile */
  .mission,
  .vision {
    padding-top: 32px;
    padding-right: 48px;
    padding-bottom: 32px;
    padding-left: 24px;
  }

  .mission::before,
  .vision::before,
  .mission::after,
  .vision::after {
    height: 50%;
  }

  .values-list {
    grid-template-columns: 1fr;
  }

  .values-list li {
    padding-right: 144px;
    padding-left: 48px;
  }

  .success-container,
  .team-container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .certificates-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 389px) {

  /** mobile */
  .values-list li {
    padding-right: 96px;
    padding-left: 16px;
  }

  .mission,
  .vision {
    padding-right: 16px;
    padding-left: 16px;
  }

  .mission::after,
  .vision::after {
    display: none;
  }

  .success-container,
  .team-container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/*! adaptive <= */