/*! => home page */
/** => welcome section */
.welcome-section {
  padding-top: 24px;
  padding-bottom: 72px;
}

.welcome-container {
  display: flex;
  flex-direction: row-reverse;
  min-height: 440px;

  background: #ffffff;
  border-radius: 8px;
}

.welcome-right {
  align-self: center;
  margin-right: 48px;
}

.welcome-title {
  width: max-content;
  padding: 0px;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  white-space: pre-wrap;
}

.welcome-title::first-line {
  color: #d71920;
}

.welcome-subtitle {
  margin-bottom: 48px;

  font-size: 16px;
  white-space: pre-wrap;
}

.welcome-link {
  max-width: 312px;
  height: 58px;
}

.welcome-left {
  position: relative;
  flex-grow: 1;
}

.welcome-left-bg {
  position: absolute;
  top: calc(50% - 193px);
  right: 80px;

  opacity: 0.5;
  pointer-events: none;
}

.welcome-hand {
  position: absolute;
  bottom: -100px;
  right: -40px;

  display: block;
  min-width: 1200px;

  filter: drop-shadow(0px 100px 56px rgba(29, 29, 29, 0.5));
  pointer-events: none;
}

.welcome-hand.red-hand {
  filter: none;
  opacity: 0;
  transition: 0.3s;
}

.welcome-container:hover .welcome-hand.red-hand {
  opacity: 1;
}

/** welcome section <= */

/** => whywe section */
.whywe-section {
  padding-top: 72px;
}

.whywe-container {
  background: #ffffff;
  border: 1px solid rgba(77, 77, 77, 0.25);
  box-shadow: 0px 8px 8px rgb(29 29 29 / 25%);
  border-radius: 8px;
}

.whywe-inner {
  position: relative;
  z-index: 0;

  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 64px;
  margin-left: 32px;
  padding-top: 96px;
  padding-right: 56px;
  padding-bottom: 96px;
  padding-left: 56px;
}

.whywe-inner::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;

  display: block;
  height: 100%;
  width: calc(100% - 6px);

  background-image: url("../img/whywe-dashes.png");
  background-size: cover;
}

.whywe-inner::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;

  display: block;
  height: 100%;
  width: 6px;

  background-image: url("../img/whywe-dashes.png");
  background-position-x: right;
  background-size: cover;
}

.whywe-title {
  padding: 0px;
  margin-bottom: 48px;

  font-weight: 700;
  text-align: center;
}

.whywe-list {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px 24px;
}

.whywe-list::before {
  content: "";
  position: absolute;
  top: calc(50% - 148px);
  left: 40px;
  z-index: -1;

  display: block;
  height: 260px;
  width: 68%;

  background-image: url(../img/whywe-bg.png);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

.whywe-list-item {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px 16px;
}

.whywe-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  min-width: 80px;
  grid-row: 1/3;

  border-radius: 50%;
  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #d71920, #d71920), #d71920;
}

@keyframes escort {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

.whywe-list-item:first-child:hover .whywe-list-icon svg {
  animation-name: escort;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.equalizer {
  height: 36px;
  width: 36px;
  margin-bottom: 4px;
  display: flex;
  align-items: flex-end;
  gap: 0px 3px;
}

.equalizer-item {
  width: 10px;

  background: #ffffff;
  box-shadow: 0px 2px 8px rgb(29 29 29 / 25%);
  border-radius: 2px;
}

.equalizer-item:first-child {
  height: 60%;
}

@keyframes equalizer-first {
  0% {
    height: 50%;
  }

  50% {
    height: 80%;
  }

  100% {
    height: 50%;
  }
}

.whywe-list-item:nth-child(2):hover .equalizer-item:first-child {
  animation-name: equalizer-first;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.equalizer-item:nth-child(2) {
  height: 90%;
}

@keyframes equalizer-second {
  0% {
    height: 90%;
  }

  43% {
    height: 30%;
  }

  93% {
    height: 100%;
  }

  100% {
    height: 90%;
  }
}

.whywe-list-item:nth-child(2):hover .equalizer-item:nth-child(2) {
  animation-name: equalizer-second;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.equalizer-item:last-child {
  height: 40%;
}

@keyframes equalizer-third {
  0% {
    height: 40%;
  }

  50% {
    height: 20%;
  }

  100% {
    height: 40%;
  }
}

.whywe-list-item:nth-child(2):hover .equalizer-item:last-child {
  animation-name: equalizer-third;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes client-orient {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.whywe-list-item:last-child:hover .whywe-list-icon svg {
  animation-name: client-orient;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.whywe-list-title {
  align-self: end;
  font-weight: 600;
}

.advantages-title {
  padding-top: 144px;
  padding-bottom: 48px;
  max-width: 776px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}

.advantages-list {
  max-width: 776px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px 64px;
  font-size: 16px;
}

.advantages-list-item {
  display: flex;
  align-items: center;
  gap: 0px 16px;
}

/** whywe section <= */

/** => section joiner */
.section-joiner {
  position: relative;

  height: 16px;
  display: flex;
  justify-content: space-between;
  margin-right: 72px;
  margin-left: 72px;
}

.section-joiner-item {
  position: relative;
  z-index: 0;
  transform: translateY(-24px);

  display: block;
  width: 6px;
  min-height: 64px;
}

.section-joiner-item::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: -1;

  display: block;
  height: 18px;
  width: 18px;

  border-radius: 50%;
  background: #f5f5f5;
  box-shadow: inset 0px 1px 4px rgb(0 0 0 / 25%);
}

.section-joiner-item::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -6px;
  z-index: -1;

  display: block;
  height: 18px;
  width: 18px;

  background: #ffde0a;
  box-shadow: inset 0px 1px 4px rgb(0 0 0 / 25%);
  border-radius: 25px;
}

.section-joiner-item i {
  display: block;
  height: 100%;
  width: 100%;

  border-radius: 25px;
  background: radial-gradient(750% 68.18% at 50% 0%, #c9c9c9 0%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(166.74% 77.27% at 50% 118.18%, #c9c9c9 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
}

/** section joiner <= */

/** => products section */
.products-section {
  padding-bottom: 72px;
}

.products-section-inner {
  position: relative;
  z-index: 0;

  margin-top: 64px;
  margin-right: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  padding-right: 128px;
  padding-bottom: 80px;
  padding-left: 128px;
}

.products-section-inner::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  z-index: -1;

  display: block;
  height: 100%;
  width: calc(100% - 6px);

  background-image: url("../img/dashes-long.png");
  background-size: cover;
}

.products-section-inner::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -1px;
  z-index: -1;
  display: block;
  height: 100%;
  width: 6px;
  background-image: url("../img/dashes-long.png");
  background-position-x: right;
  background-size: cover;
}

.products-section-subtitle {
  margin-bottom: 48px;
  white-space: pre-wrap;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

/** products section <= */

/** => feedback section */
.feedback-section {
  padding-top: 72px;
  padding-bottom: 72px;
  overflow-x: clip;
}

.feedback-section-container {
  position: relative;
  padding-left: 96px;
}

.feedback-section-title {
  padding-top: 0 !important;
}

.feedback-section-text {
  margin-bottom: 48px;
  white-space: pre-wrap;
}

.feedback-section .feedback-form {
  position: relative;
  margin: 0px;
}

.feedback-section-hand {
  position: absolute;
  top: -148px;
  left: 800px;

  width: 800px;

  filter: drop-shadow(40px -56px 64px rgba(29, 29, 29, 0.5));
  transform: matrix(-1, 1, -1, -1, 0, 0);
  pointer-events: none;
}

.feedback-section-hand.yellow-hand {
  filter: none;
  opacity: 0;
  transition: 0.3s;
}

.feedback-section:hover .feedback-section-hand.yellow-hand {
  opacity: 1;
}

/** feedback section <= */

/** => projects-section */
.projects-section {
  padding-top: 72px;
  padding-bottom: 24px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding-right: 160px;
  padding-bottom: 96px;
  padding-left: 160px;

  background: #ffffff;
  border-radius: 8px;
}

.projects-section-subtitle {
  margin-bottom: 48px;
  white-space: pre-wrap;
}

.projects-section-subtitle span {
  color: #d71920;
  font-weight: 600;
}

.all-projects-link {
  font-size: 16px;

  display: flex;
  gap: 0px 16px;
  align-items: center;
  margin-top: 32px;
  margin-left: auto;
}

.all-projects-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  min-width: 48px;
  padding-left: 2px;

  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #d71920, #d71920), #ffffff;
  box-shadow: 0px 2px 8px rgb(29 29 29 / 25%);
  border-radius: 500px;
  transition: 0.3s;
}

.all-projects-link:hover .all-projects-icon {
  box-shadow: none;
}

/** projects-section <= */

/** =>> companies */
.companies {
  padding-top: 24px;
  padding-bottom: 32px;
}

.companies-container {
  padding-right: 96px;
  padding-bottom: 72px;
  padding-left: 96px;

  background: #ffffff;
  border-radius: 8px;
}

.companies-title {
  padding-bottom: 48px;
  text-align: center;
}

.companies-carousel,
.admin-companies-carousel {
  position: relative;
}

.companies-carousel .company,
.admin-companies-carousel .company {
  width: 150px;
  text-align: center;
}

.companies-carousel .company-logo,
.admin-companies-carousel .company-logo {
  height: 80px;
  object-fit: contain;
}

.companies-carousel .company-title,
.admin-companies-carousel .company-title {
  margin-top: 8px;
}

/** <<= companies */

/*! home page <= */

/*! => adaptive */
@media screen and (max-width: 1439px) {

  /** desktop */
  .welcome-title {
    font-size: 40px;
    white-space: pre-wrap;
  }

  .products-section-inner {
    padding-right: 48px;
    padding-left: 48px;
  }

  .feedback-section-container {
    padding-left: 80px;
  }

  .projects-container {
    padding-right: 80px;
    padding-left: 80px;
  }

  .companies-container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 1199px) {

  /** desktop */
  .whywe-title {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
  }

  .whywe-list {
    width: 480px;
    grid-template-columns: 1fr;
    margin-right: auto;
    margin-left: auto;
  }

  .whywe-list::before {
    visibility: hidden;
  }

  .advantages-title {
    width: 480px;
  }

  .advantages-list {
    grid-template-columns: 1fr;
    width: 480px;
  }

  .products-section-inner {
    padding-right: 32px;
    padding-left: 32px;
  }

  .products-list {
    grid-template-columns: 1fr 1fr;
  }

  .feedback-section-container {
    padding-left: 64px;
  }

  .projects-container {
    padding-right: 64px;
    padding-left: 64px;
  }
}

@media screen and (max-width: 991px) {

  /** tablet */
  .welcome-section {
    padding-top: 16px;
    padding-bottom: 24px;
  }

  .welcome-right {
    margin-right: 24px;
  }

  .welcome-title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .welcome-subtitle {
    margin-bottom: 32px;
  }

  .welcome-link {
    height: 48px;
  }

  .welcome-left-bg {
    right: 24px;
  }

  .welcome-hand {
    bottom: -48px;
    right: -104px;
  }

  .projects-section-subtitle {
    white-space: normal;
  }

  .products-section-subtitle {
    white-space: normal;
  }

  .whywe-section {
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .whywe-container {
    border: none;
    box-shadow: none;
  }

  .whywe-inner {
    padding-top: 0;
    padding-right: 140px;
    padding-bottom: 0;
    padding-left: 140px;
    margin: 0;
  }

  .whywe-inner::before,
  .whywe-inner::after {
    display: none;
  }

  .whywe-title {
    width: 100%;
    padding-top: 32px;
    margin-bottom: 16px;
  }

  .whywe-list {
    width: 100%;
  }

  .whywe-list-item {
    grid-template-columns: 48px auto;
    width: max-content;
  }

  .whywe-list-icon {
    height: 48px;
    min-width: 48px;
    width: 48px;
    padding: 10px;
  }

  .equalizer {
    width: 24px;
    height: 24px;
  }

  .equalizer-item {
    border-radius: 1.5px;
  }

  .advantages-title {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .advantages-list {
    width: 100%;
    padding-bottom: 32px;
  }

  .section-joiner {
    visibility: hidden;
    display: none;
  }

  .products-section {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .products-section-inner {
    margin: 0;
    padding-top: 0;
    padding-right: 140px;
    padding-bottom: 32px;
    padding-left: 140px;
  }

  .products-section-inner::before,
  .products-section-inner::after {
    visibility: hidden;
    display: none;
  }

  .products-section-title {
    padding-bottom: 8px;
  }

  .products-list {
    grid-template-columns: 1fr;
  }

  .feedback-section {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .feedback-section-container {
    padding-left: 0;
  }

  .feedback-section-title {
    padding-bottom: 8px;
  }

  .feedback-section-text {
    margin-bottom: 16px;
  }

  .feedback-section-hand {
    top: -40px;
    left: 610px;
    width: 500px;
  }

  .projects-section {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .projects-container {
    padding-right: 140px;
    padding-bottom: 32px;
    padding-left: 140px;
  }

  .projects-section-title {
    padding-bottom: 8px;
  }

  .projects-section-subtitle {
    margin-bottom: 16px;
  }

  .all-projects-link {
    margin-top: 16px;
  }

  .companies {
    padding-top: 16px;
    padding-bottom: 24px;
  }

  .companies-title {
    padding-bottom: 16px;
    text-align: start;
  }

  .companies-container {
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {

  /** tablet */
  .welcome-subtitle {
    max-width: 300px;
  }

  .welcome-link {
    max-width: 240px;
  }

  .whywe-inner,
  .products-section-inner {
    padding-right: 56px;
    padding-left: 56px;
  }

  .whywe-list-item {
    width: auto;
    align-items: center;
    grid-template-rows: auto auto;
  }

  .feedback-section-hand {
    display: none;
    visibility: hidden;
  }

  .projects-container {
    padding-right: 56px;
    padding-left: 56px;
  }
}

@media screen and (max-width: 575px) {

  /** mobile */
  .welcome-section {
    padding-bottom: 16px;
    overflow-x: clip;
  }

  .welcome-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .welcome-right {
    width: 100%;
    margin-right: 0;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }

  .welcome-title {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 8px;
  }

  .welcome-subtitle {
    max-width: 100%;
    margin-bottom: 16px;
  }

  .welcome-link {
    max-width: 200px;
  }

  .welcome-left {
    width: 100%;
    min-height: 320px;
  }

  .welcome-left-bg {
    top: 0;
    right: 64px;

    width: max-content;
    height: calc(100% - 24px);
  }

  .welcome-hand {
    bottom: -48px;
    right: -40px;

    min-width: 1000px;
  }

  .whywe-section {
    padding-top: 16px;
  }

  .whywe-inner,
  .products-section-inner {
    padding-right: 24px;
    padding-left: 24px;
  }

  .whywe-list {
    grid-gap: 16px 16px;
  }

  .projects-container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 389px) {

  /** mobile */
  .whywe-inner,
  .products-section-inner {
    padding-right: 16px;
    padding-left: 16px;
  }

  .whywe-list-title {
    overflow: hidden;
  }

  .products-list {
    display: flex;
    flex-direction: column;
  }

  .projects-container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .feedback-section-text {
    white-space: normal;
  }
}

/*! adaptive <= */