/*! => header */
.header {
  padding-top: 64px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 16px 0px;
}

.header-top {
  display: flex;
  align-items: center;
  padding-bottom: 16px;

  border-bottom: 1px solid #ffe957;
}

.home-link {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px 64px;
  margin-right: 64px;
  margin-left: 64px;
  align-items: end;

  font-size: 16px;
}

.header-grid-link {
  white-space: pre;
}

.header-grid-item:first-child,
.header-grid-item:nth-child(2) {
  grid-row: span 2;
}

.header-grid-item:last-child {
  grid-row: span 2;
  text-align: end;
}

.header-grid-link:hover,
.header-grid-link:focus {
  color: #d71920;
}

/** =>> feedback */
.feedback {
  z-index: 1;
}

body.feedback {
  margin-right: 8px;
  overflow: hidden;
}

.feedback-open-btn {
  width: 310px;
  overflow: hidden;
}

.feedback-close-btn {
  position: fixed;
  top: 0px;
  left: 0px;

  display: block;
  height: 100%;
  width: 100%;

  border: none;
  background: black;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

body.feedback .feedback-close-btn {
  opacity: 0.5;
  visibility: visible;
}

.feedback-modal {
  position: fixed;
  top: calc(50% - 360px);
  left: calc(100% + 424px);
  z-index: 1;

  display: flex;
  width: 848px;
  height: 720px;
  padding-top: 54px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;

  background: #ffdd00;
  box-shadow: 0px 8px 128px #1d1d1d;
  border-radius: 8px;
  visibility: hidden;
  overflow: hidden;
  transition: 0.3s;
}

body.feedback .feedback-modal {
  left: calc(50% - 424px);
  visibility: visible;
}

.feedback-modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.feedback-modal-inner {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.feedback-modal-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  z-index: -1;

  display: block;
  height: 100%;
  width: calc(100% - 8px);

  background-image: url("../img/dashes.png");
  background-size: cover;
}

.feedback-modal-inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 1px;
  z-index: -1;

  height: 100%;
  width: 8px;

  background-image: url("../img/dashes.png");
  background-position: right;
  background-size: cover;
}

.feedback-modal-close {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  margin-top: 20px;
  margin-right: 20px;

  border: none;
  background: transparent;
  cursor: pointer;
}

.feedback-modal-top {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  width: 448px;
  grid-gap: 16px 56px;
  margin-top: 32px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}

.feedback-modal-title {
  padding: 0;
}

.feedback-modal-text {
  white-space: pre;
}

.feedback-modal-logo {
  grid-column: 2/3;
  grid-row: 1/3;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-right: auto;
  margin-left: auto;
  gap: 16px;
}

.feedback-label {
  display: flex;
}

.feedback-label .iti {
  width: 100%;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent;
  padding-left: 16px;
}

.feedback-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-right: 16px;
  padding-left: 16px;
  border: none;
  border-radius: 8px;

  transition: 0.3s;
}

.feedback-input:hover,
.feedback-input:focus {
  outline: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.feedback-btn-wrap {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;

  font-size: 16px;
  font-weight: 600;
  color: #fff;

  overflow: hidden;
  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #d71920, #d71920), #e6e6e6;
  box-shadow: 0px 4px 16px rgb(230 36 43 / 50%);
  border-radius: 8px;
  transition: 0.3s;
}

.feedback-btn-wrap:hover {
  box-shadow: none;
}

.feedback-btn-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  height: 100%;
  width: 100%;

  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #f59e0b, #f59e0b), #e6e6e6;
  opacity: 0;
  transition: 0.3s;
}

.feedback-btn-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  height: 100%;
  width: 100%;

  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #059669, #059669), #e6e6e6;
  opacity: 0;
  transition: 0.3s;
}

.feedback-btn-wrap.fail {
  box-shadow: 0px 4px 16px rgba(245, 158, 11, 0.5);
}

.feedback-btn-wrap.success {
  box-shadow: 0px 4px 16px rgba(5, 150, 105, 0.5);
}

.feedback-btn-wrap.fail::before {
  opacity: 1;
}

.feedback-btn-wrap.success::after {
  opacity: 1;
}

.feedback-form-btn {
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  gap: 8px;

  border-radius: 8px;
  border: none;
  background: transparent;
  transition: 0.3s;
}

.feedback-submit-btn {
  z-index: 1;
  visibility: unset;
  cursor: pointer;
}

.feedback-btn-wrap.loading .feedback-submit-btn svg,
.feedback-btn-wrap.loading .feedback-submit-btn .text {
  display: none;
}

.feedback-btn-wrap.fail .feedback-submit-btn,
.feedback-btn-wrap.success .feedback-submit-btn {
  left: -100%;
  visibility: hidden;
}

.feedback-fail-msg {
  left: 100%;
}

.feedback-btn-wrap.fail .feedback-fail-msg {
  left: 0%;
}

.feedback-success-msg {
  z-index: 1;
  left: 100%;
}

.feedback-btn-wrap.success .feedback-success-msg {
  left: 0%;
}

.feedback-modal-bottom {
  font-size: 16px;

  display: flex;
  gap: 0px 32px;
  margin-top: auto;
  margin-right: 32px;
  margin-bottom: 16px;
  margin-left: auto;
}

.feedback-modal-img {
  position: absolute;
  top: 496px;

  display: block;
  right: 560px;
  width: 360px;

  filter: drop-shadow(0px 128px 128px rgba(29, 29, 29, 0.5));
  transform: matrix(1, -2, 2, 1, 0, 0);
}

/** <<= feedback */
/** =>> header-navigation */
.header-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  height: 52px;

  background: #ffffff;
  border-radius: 8px;
}

.header-navigation-list {
  display: flex;
  align-items: center;
  gap: 0px 40px;
  height: 100%;
}

.header-navigation-item {
  display: flex;
  align-items: center;
  min-width: 140px;
  height: 100%;
  padding-top: 6px;
  padding-bottom: 6px;

  overflow-y: clip;
}

.header-navigation-link {
  position: relative;
  z-index: 0;

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.header-navigation-link.current {
  font-weight: 600;
}

.header-navigation-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(52px);
  z-index: -1;

  display: block;
  height: 100%;
  width: 100%;

  background: radial-gradient(269.69% 100% at 50% 100%,
      rgba(230, 36, 43, 0.2) 0%,
      rgba(239, 105, 27, 0.2) 37.5%,
      rgba(255, 221, 0, 0.2) 100%),
    linear-gradient(0deg, #d71920, #d71920), #d71920;
  box-shadow: 0px 2px 8px rgb(29 29 29 / 25%);
  border-radius: 8px;
  transition: 0.3s;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #fff;
}

.header-navigation-link:hover::before,
.header-navigation-link:focus::before {
  transform: translateY(0px);
}

body.products-dropdown {
  overflow: hidden;
  margin-right: 8px;
}

.products-dropdown {
  position: relative;

  display: flex;
  height: 100%;
}

.products-dropdown-close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: block;
  height: 100%;
  width: 100%;

  border: none;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.products-dropdown-close:focus {
  transition: 0s;
  border: 4px solid #fff;
}

body.products-dropdown .products-dropdown-close {
  opacity: 0.5;
  visibility: visible;
}

.products-dropdown-list {
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  transform: translateY(100vh);
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 8px 0px;
  width: max-content;
  max-width: 400px;
  padding: 32px;

  background: #ffffff;
  box-shadow: 0px 8px 128px #1d1d1d;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

body.products-dropdown .products-dropdown-list {
  transform: translateY(0vh);

  opacity: 1;
  visibility: visible;
}

.products-dropdown-link:hover,
.products-dropdown-link:focus {
  color: #d71920;
}

/** <<= header-navigation */
/*! <= header */

/*! => adaptive */
@media screen and (max-width: 1439px) {

  /** desktop */
  .header-grid {
    grid-template-columns: auto auto;
    text-align: end;
  }

  .header-grid-item:first-child,
  .header-grid-item:nth-child(2) {
    grid-row: span 1;
  }

  .header-grid-item:last-child {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .header-navigation-list {
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 6px;
    padding-left: 6px;
  }

  .products-dropdown {
    position: inherit;
  }

  .products-dropdown-list {
    left: auto;
    right: 0px;
  }
}

@media screen and (max-width: 1199px) {

  /** desktop */
  .header-grid {
    margin-right: 32px;
    margin-left: 32px;
    grid-gap: 0px 32px;
  }

  .feedback-modal {
    width: 800px;
  }

  body.feedback .feedback-modal {
    left: calc(50% - 400px);
  }

  .header-navigation-list {
    gap: 0px 16px;
  }

  .header-navigation-item {
    min-width: 120px;
  }

  .products-dropdown-list {
    padding: 24px;
  }
}

@media screen and (max-width: 991px) {

  /** tablet */
  .header {
    padding-top: 56px;
    padding-bottom: 0px;
  }

  .header-container {
    padding-bottom: 16px;
    gap: 24px 0px;
    border-bottom: 1px solid #ffe957;
  }

  .header-top {
    padding-bottom: 0px;
    border-bottom: none;
  }

  .main-logo {
    width: 80px;
    height: 48px;
  }

  .header-grid {
    margin-right: 16px;
    margin-left: 16px;
    grid-gap: 0px 16px;
  }

  .header-grid-item:last-child {
    grid-column: 1/2;
  }

  .feedback-open-btn {
    width: 48px;
    height: 48px;
  }

  .feedback-open-btn span {
    display: none;
  }

  body.feedback {
    margin-right: 0px;
  }

  .feedback-modal {
    top: calc(50% - 280px);
    left: calc(100% + 280px);
    width: 560px;
    height: 560px;
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }

  body.feedback .feedback-modal {
    left: calc(50% - 280px);
  }

  .feedback-modal-inner::before {
    left: 0px;
  }

  .feedback-modal-inner::after {
    right: 0px;
  }

  .feedback-modal-top {
    grid-gap: 8px 40px;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .feedback-modal-logo {
    justify-self: right;
    height: 56px;
  }

  .feedback-modal-bottom {
    flex-direction: column;
    text-align: end;
  }

  .feedback-modal-close {
    margin-top: 16px;
    margin-right: 16px;
  }

  .feedback-modal-img {
    top: 416px;
    right: 320px;
    width: 240px;
  }

  body.products-dropdown {
    margin-right: 0px;
  }

  .header-navigation {
    height: 48px;
  }

  .header-navigation-list {
    justify-content: center;
    max-width: max-content;
    gap: 0px 40px;
  }

  .header-navigation-item {
    min-width: 0px;
  }

  .header-navigation-link:hover::before,
  .header-navigation-link:focus::before {
    display: none;
  }

  .header-navigation-link:hover,
  .header-navigation-link:focus {
    color: #d71920;
  }
}

@media screen and (max-width: 767px) {

  /** tablet */
  .header-navigation-list {
    gap: 0px 24px;
  }
}

@media screen and (max-width: 575px) {

  /** mobile */
  .header-grid {
    grid-template-columns: auto;
  }

  .header-grid-item:last-child {
    display: none;
  }

  .feedback-modal {
    top: 0px;
    left: 100%;

    width: 100%;
    height: 100%;
    padding-right: 16px;
    padding-left: 16px;

    box-shadow: none;
    border-radius: 0px;
  }

  body.feedback .feedback-modal {
    left: 0px;
  }

  .feedback-modal-inner {
    padding-right: 24px;
    padding-left: 24px;
  }

  .feedback-modal-top {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 0px 0px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 16px;
  }

  .feedback-modal-title {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .feedback-modal-logo {
    justify-self: start;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 90px;
  }

  .feedback-form {
    margin-right: 0px;
    margin-bottom: auto;
    margin-left: 0px;
    width: 100%;
    gap: 8px 0px;
  }

  .feedback-modal-bottom {
    margin-right: 0px;
  }

  .feedback-modal-img {
    display: none;
  }

  .header-navigation-list {
    justify-content: flex-start;
    max-width: calc(100% - 48px);
    padding-right: 0;
    padding-left: 0;

    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  .header-navigation-item {
    min-width: max-content;
  }
}

@media screen and (max-width: 389px) {

  /** mobile */
  .header-grid {
    display: none;
  }

  .products-dropdown-list {
    min-width: 100%;
    max-width: 100%;
    padding: 16px;
  }
}

/*! <= adaptive */